html{
    scrsoll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
* {margin:0; padding:0}

section {
    background: lightcyan;
    position: relative;
    height: 320px;
    padding: 20px 0 0 20px;
}
section:hover div {
    left: calc(100% - 150px);
}
div:first-of-type {
    position: absolute;
    left: 0;
    width: 150px;
    height: 150px;
    background: red;
    transition: left 2s;
}
div:last-of-type {
    top: 170px;
    left: 0;
    position: absolute;
    width: 150px;
    height: 150px;
    background: green;
    transition: left 1s;
    transition-delay: 1s;
}